---
import Base from "../../layouts/Base.astro";
import { render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ImageZoom from "../ImageZoom.astro";
import Callout from "../mdx/Callout.astro";
import Terminal from "../mdx/Terminal.astro";
import ArticleImage from "../mdx/ArticleImage.astro";
import Quote from "../mdx/Quote.astro";

interface Props {
  lang: string;
  project: CollectionEntry<"projects">;
}

const { lang, project } = Astro.props;
const { Content } = await render(project);
---

<Base
  title={project.data.title}
  description={project.data.description}
  image={project.data.thumbnail}
  lang={lang}
>
  <ImageZoom />
  <article class="prose dark:prose-invert prose-zinc max-w-none lg:prose-xl">
    <header class="mb-8">
      <h1 class="text-4xl font-bold text-zinc-900 dark:text-zinc-100 mb-2">
        {project.data.title}
      </h1>
      <p class="text-zinc-500 dark:text-zinc-400 m-0">
        {project.data.description}
      </p>
    </header>
    {
      project.data.thumbnail && (
        <img
          src={project.data.thumbnail}
          alt={project.data.title}
          class="w-full rounded-2xl mb-12 shadow-sm object-cover aspect-video"
        />
      )
    }
    <div class="project-content">
      <Content components={{ Callout, Terminal, ArticleImage, Quote }} />
    </div>
  </article>
</Base>
